@model SidewalkUI.Models.FormFinalInspectionViewModel
@{
    ViewBag.Title = "DoNotPour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid" id="print-div">

    @using (Html.BeginForm("DoNotPour", "FormInspection", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="span12" id="content">
            <div class="row-fluid">
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">DO NOT POUR CONCRETE</div>
                    </div>

                    @Html.HiddenFor(x => x.FormInspection.AffidavitId)
                    @Html.HiddenFor(x => x.FormInspection.Partial)
                    @Html.HiddenFor(x => x.FormInspection.PartialDescription)
                    @Html.HiddenFor(x => x.FormInspection.PermissionGranted)
                    @Html.HiddenFor(x => x.FormInspection.MatchJointPattern)
                    @Html.HiddenFor(x => x.FormInspection.PlaceJoints)
                    @Html.HiddenFor(x => x.FormInspection.ToolDeepJoints)
                    @Html.HiddenFor(x => x.FormInspection.OtherGrantedToPour)
                    @Html.HiddenFor(x => x.redirectURL)
                    <div class="block-content collapse in">
                        <div style="padding-left: 112px;">
                            <div class="row">
                                <div style="text-align:center">
                                    <img src="~/images/City-Seal small.png" style="align-content:center" />
                                    <img src="~/images/PBOT small.jpg" style="align-content:center" />
                                </div>
                                <div class="span12 reasonFont noticeInfo" style="margin-left:20px;">
                                    City of Portland, Bureau of Transportation,
                                    <br /> Sidewalk Maintenance
                                </div>
                            </div>
                            <div class="row">
                                <div class="span12">
                                    <div class="span4 reasonFont">
                                        Affidavit #@Model.AffidavitDetails.AffidavitInfo.AffidavitID
                                    </div>
                                    <div class="span4 reasonFont">
                                        Permit #
                                        @if (Model.AffidavitDetails.PermitInfo != null)
                                        {
                                            @Model.AffidavitDetails.PermitInfo.PermitNo
                                        }
                                    </div>
                                    <div class="span4 reasonFont">
                                        Address : @Model.AffidavitDetails.AffidavitInfo.PropertyDescription
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Repair needed on</legend>
                                <div class="row">
                                    <div class="span12">
                                        <div class="span12" style="margin-left:35px">
                                            <div class="span3">
                                                @Html.CheckBoxFor(x => x.FormInspection.Sidewalk, new { @class = "checkbox-custom" })
                                                Sidewalk
                                            </div>
                                            <div class="span3">
                                                @Html.CheckBoxFor(x => x.FormInspection.Driveway, new { @class = "checkbox-custom" })
                                                Driveway
                                            </div>
                                            <div class="span3">
                                                @Html.CheckBoxFor(x => x.FormInspection.Curb, new { @class = "checkbox-custom" })
                                                Curb
                                            </div>
                                            <br />
                                            <div class="span3"></div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Reasons for denying Pour</legend>
                                <div class="row">
                                    <div class="span12" style="margin-left: 20px;">
                                        <div class="span6">
                                            <div class="span12">
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FormInspection.NotReady, new { @class = "checkbox-custom" })
                                                Not ready/ Not Started
                                            </div>
                                            <div class="span12 ">
                                                @Html.CheckBoxFor(x => x.FormInspection.InsufficientBarricades, new { @class = "checkbox-custom" })
                                                Place sufficient amount of barricades as required by city Right-of-Way permit for safety
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FormInspection.RemoveDebris, new { @class = "checkbox-custom" })
                                                Remove construction debris from city right-of-way.
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FormInspection.NotDeep, new { @class = "checkbox-custom" })
                                                Excavated areas are not deep enough throughout per city code (sidewalk 4" deep,
                                                <br /> Driveway 6" deep & 10" deep in d/w curb line)
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="span12">
                                            </div>
                                            @*<div class="span12" style="margin-left:17px;">
                                                @Html.CheckBoxFor(x => x.FormInspection.AddCrushedRock, new { @class = "checkbox-custom" })
                                                Add 3/4" crushed rock as needed, plate compact, maintain 4" depth in <br /> S/W, 6" depth in D/W areas
                                                </div>*@
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FormInspection.CurbHeight, new { @class = "checkbox-custom" })
                                                Curb to be 16" from top of curb (Example: 6" exposed, 10" below street)
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FormInspection.SawCutEdges, new { @class = "checkbox-custom" })
                                                Saw cut spalled/Chipped edges vertically to full depth as marked.
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FormInspection.NoPermit, new { @class = "checkbox-custom" })
                                                No permit/ permit expired.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="span12" style="margin-left:20px;align-content:center">
                                    <br />
                                    Other : @Html.TextAreaFor(x => x.FormInspection.OtherDoNotPour, new { @class = "textarea", style = "width:87%;" })
                                    <br />
                                    <br />
                                </div>
                                <div style="margin-left:20px;">
                                    <br />
                                    After corrections have been made, request another form inspection online at www.portlandoregon.gov/transportation/sidewalks or call 503-823-1711.
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>
                                <div class="row reasonFont">
                                    <div class="span3">
                                        Contractor/Property Owner:
                                    </div>
                                    <div class="span9">
                                    </div>
                                </div>
                                <div class="row reasonFont">
                                    <div class="span9">
                                        Inspector : @Model.AffidavitDetails.AffidavitInfo.Inspector.FullName
                                        @Html.HiddenFor(x => x.FormInspection.FormFailInspectorId)
                                        @Html.HiddenFor(x => x.FormInspection.FormPassInspectorId)
                                    </div>


                                    <div class="span3">
                                        Date : @DateTime.Now

                                    </div>
                                </div>
                                <div class="row">
                                    @Html.Partial("~/Views/Shared/_FormFinalDescription.cshtml")
                                </div>
                                <div class="row">
                                    <div class="span12 reasonFont noticeInfo">
                                        <input type="submit" value="Save" class="btn-large" style="font-size:40px" />
                                        @*<input type="button" value="Save" class="donotpour-save" class="btn-large" style="font-size:40px" />*@
                                    </div>
                                    <div class="span9">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    @*var AppURLSettings = AppURLSettings || {};
    AppURLSettings.DoNotPour = '@Url.Action("DoNotPour", "FormInspection")';
    AppURLSettings.GrantedToPour = '@Url.Action("GrantedToPour", "FormInspection")';
    AppURLSetting.SaveDoNotPour = '@Url.Action("DoNotPour", "FormInspection")';
    AppURLSetting.GetAffidavitByNo = '@Url.Action("GetAffidavitByNo", "Affidavit")';

    $('.donotpour-save').click(function () {
        var printPage = false;
        if (confirm('Do you want to print with save?')) {
            printPage = true;
        }
        $.ajax({
            type: 'POST',
            url: AppURLSettings.SaveDoNotPour,
            data: "",
            success: function (result) {
                if (printPage) {
                    window.location = AppURLSettings.DoNotPour + '?affidavitNo=' + $('#AffidavitId').val();
                    window.print();
                }
                else {
                    window.location = AppURLSetting.GetAffidavaitByNo + '?affidavitNo=' + $('#AffidavitId').val();
                }
            }
        });

    });*@

    //function GetDonNotPourModel() {
    //    var model =
    //        {
    //        };
    //    return model;
    //}
    //$('.print-test').click(function () {
    //    window.print();

    //    // var divPrint = $('#print-div').html();
    //    // var newWindow = window.open('', 'Print-Window');
    //    // newWindow.document.open();
    //    // newWindow.document.write('<html><body onload="window.print()">' + divPrint + '</body></html>');
    //    // newWindow.document.close();
    //});
</script>