
@model SidewalkUI.Models.FormFinalInspectionViewModel
@{
    ViewBag.Title = "RepairsAreCompleteAndSatisfactory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

    @using (Html.BeginForm("RepairsAreCompleteAndSatisfactory", "FinalInspection", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="span12" id="content">
            <div class="row-fluid">
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Repairs Are Complete And Satisfactory</div>
                    </div>
                    @Html.HiddenFor(x => x.FinalInspection.AffidavitID)
                    @Html.HiddenFor(x => x.FinalInspection.RemoveFormsToGrade)
                    @Html.HiddenFor(x => x.FinalInspection.MoreBackfill)
                    @Html.HiddenFor(x => x.FinalInspection.IncompleteRepairs)
                    @Html.HiddenFor(x => x.FinalInspection.MoreGrinding)
                    @Html.HiddenFor(x => x.FinalInspection.RemoveMarkedAreas)
                    @Html.HiddenFor(x => x.FinalInspection.AsphaltWork)
                    @Html.HiddenFor(x => x.FinalInspection.Graffiti)
                    @Html.HiddenFor(x => x.FinalInspection.NoRightWayPermit)
                    @Html.HiddenFor(x => x.FinalInspection.OtherRepairsNotAcceptable)
                    @Html.HiddenFor(x => x.redirecURL)
                    <div class="block-content collapse in">
                        <div style="padding-left: 112px;">
                            <div class="row">
                                <div style="text-align:center">
                                    <img src="~/images/PBOT small.jpg" style="align-content:center" />
                                </div>
                                <div class="span12 reasonFont noticeInfo" style="margin-left:20px;">
                                    City of Portland, Bureau of Transportation,
                                    <br /> Sidewalk Maintenance
                                </div>
                            </div>
                            <div class="row">
                                <div class="span12">
                                    <div class="span4 reasonFont">
                                        Affidavit #@Model.AffidavitDetails.AffidavitInfo.AffidavitID
                                    </div>
                                    <div class="span4 reasonFont">
                                        Permit #
                                        @if (Model.AffidavitDetails.PermitInfo != null)
                                        {
                                            @Model.AffidavitDetails.PermitInfo.PermitNo
                                        }
                                    </div>
                                    <div class="span4 reasonFont">
                                        Address : @Model.AffidavitDetails.AffidavitInfo.PropertyDescription
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Repair needed on</legend>
                                <div class="row">
                                    <div class="span12">
                                        <div class="span12" style="margin-left:35px">
                                            <div class="span3">
                                                @Html.CheckBoxFor(x => x.FinalInspection.Sidewalk, new { @class = "checkbox-custom" })
                                                Sidewalk
                                            </div>
                                            <div class="span3">
                                                @Html.CheckBoxFor(x => x.FinalInspection.Driveway, new { @class = "checkbox-custom" })
                                                Driveway
                                            </div>
                                            <div class="span3">
                                                @Html.CheckBoxFor(x => x.FinalInspection.Curb, new { @class = "checkbox-custom" })
                                                Curb
                                            </div>
                                            <br />
                                            <div class="span3"></div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Comments on Repair</legend>

                                <div class="row">
                                    <div class="span12" style="margin-left: 20px;">
                                        <div class="span6">
                                            <div class="span12"></div>
                                            <div class="span12" >
                                                @Html.CheckBoxFor(x => x.FinalInspection.ContractorRepaired, new { @class = "checkbox-custom" })
                                                Repaired by Contractor.
                                            </div>
                                            <div class="span12 ">
                                                @Html.CheckBoxFor(x => x.FinalInspection.ContractorRepairedNotCitySpec, new { @class = "checkbox-custom" })
                                                Repaired by Contractor - Repairs made by Contractor are safe but do not meet City Specifications. Property Owner must be willing to accept repairs.
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FinalInspection.OwnerRepaired, new { @class = "checkbox-custom" })
                                                Repaired by Owner.
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FinalInspection.OwnerRepairedNotCitySpec, new { @class = "checkbox-custom" })
                                                Repaired by Owner - Repairs made by the Property Owner are safe but do not meet City Specifications.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="span12" style="margin-left:20px;align-content:center">
                                    <br />
                                    Other : @Html.TextAreaFor(x => x.FinalInspection.OtherRepairsAreCompleteAndSatisfactory, new { @class = "textarea", style = "width:87%;" })
                                    <br />
                                    <br />
                                </div>
                                <br /><br /><br /><br /><br /><br />
                                <div class="row reasonFont">
                                    <div class="span3">
                                        Contractor/Property Owner:
                                    </div>
                                    <div class="span9">
                                    </div>
                                </div>
                                <div class="row reasonFont">
                                    <div class="span9">
                                        Inspector : @Model.AffidavitDetails.AffidavitInfo.Inspector.FullName
                                        @Html.HiddenFor(x => x.FinalInspection.FinalFailInspectorId)
                                        @Html.HiddenFor(x => x.FinalInspection.FinalPassInspectorId)
                                    </div>

                                    <div class="span3">
                                        Date : @DateTime.Now.ToShortDateString()
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.Partial("~/Views/Shared/_FormFinalDescription.cshtml")
                                </div>
                                <div class="row">
                                    <div class="span12 reasonFont noticeInfo">
                                        <input type="submit" value="Save" class="btn-large" style="font-size:40px" />
                                    </div>
                                    <div class="span9">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>