
@model SidewalkUI.Models.FormFinalInspectionViewModel
@{
    ViewBag.Title = "RepairsNotAcceptable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

    @using (Html.BeginForm("RepairsNotAcceptable", "FinalInspection", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="span12" id="content">
            <div class="row-fluid">
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Repairs Not Acceptable</div>
                    </div>
                    @Html.HiddenFor(x => x.FinalInspection.AffidavitID)
                    @Html.HiddenFor(x => x.FinalInspection.ContractorRepaired)
                    @Html.HiddenFor(x => x.FinalInspection.ContractorRepairedNotCitySpec)
                    @Html.HiddenFor(x => x.FinalInspection.OwnerRepaired)
                    @Html.HiddenFor(x => x.FinalInspection.OwnerRepairedNotCitySpec)
                    @Html.HiddenFor(x => x.FinalInspection.OtherRepairsAreCompleteAndSatisfactory)
                    @Html.HiddenFor(x => x.redirectURL)
                    <div class="block-content collapse in">
                        <div style="padding-left: 112px;">
                            <div class="row">
                                <div style="text-align:center">
                                    <img src="~/images/City-Seal small.png" style="align-content:center" />
                                    <img src="~/images/PBOT small.jpg" style="align-content:center" />
                                </div>
                                <div class="span12 reasonFont noticeInfo" style="margin-left:20px;">
                                    City of Portland, Bureau of Transportation,
                                    <br /> Sidewalk Maintenance
                                </div>
                            </div>
                            <div class="row">
                                <div class="span12">
                                    <div class="span4 reasonFont">
                                        Affidavit #@Model.AffidavitDetails.AffidavitInfo.AffidavitID
                                    </div>
                                    <div class="span4 reasonFont">
                                        Permit #
                                        @if (Model.AffidavitDetails.PermitInfo != null)
                                        {
                                            @Model.AffidavitDetails.PermitInfo.PermitNo
                                        }
                                    </div>
                                    <div class="span4 reasonFont">
                                        Address : @Model.AffidavitDetails.AffidavitInfo.PropertyDescription
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Repair needed on</legend>

                                <div class="row">
                                    <div class="span12">
                                        <div class="span12" style="margin-left:35px">
                                            <div class="span3">
                                                @Html.CheckBoxFor(x => x.FinalInspection.Sidewalk, new { @class = "checkbox-custom" })
                                                Sidewalk
                                            </div>
                                            <div class="span3">
                                                @Html.CheckBoxFor(x => x.FinalInspection.Driveway, new { @class = "checkbox-custom" })
                                                Driveway
                                            </div>
                                            <div class="span3">
                                                @Html.CheckBoxFor(x => x.FinalInspection.Curb, new { @class = "checkbox-custom" })
                                                Curb
                                            </div>
                                            <br />
                                            <div class="span3"></div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Reasons for rejecting the Repairs</legend>

                                <div class="row">
                                    <div class="span12" style="margin-left: 20px;">
                                        <div class="span6">
                                            <div class="span12">
                                            </div>
                                            <div class="span12" >
                                                @Html.CheckBoxFor(x => x.FinalInspection.RemoveFormsToGrade, new { @class = "checkbox-custom" })
                                                Remove forms and backfill edges compacted to grade.
                                            </div>
                                            <div class="span12 ">
                                                @Html.CheckBoxFor(x => x.FinalInspection.MoreBackfill, new { @class = "checkbox-custom" })
                                                More backfill needed.
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FinalInspection.IncompleteRepairs, new { @class = "checkbox-custom" })
                                                Incomplete repairs, all work not started.
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FinalInspection.MoreGrinding, new { @class = "checkbox-custom" })
                                                Grinding not acceptable-more grinding needed.
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="span12"></div>
                                            <div class="span12" >
                                                @Html.CheckBoxFor(x => x.FinalInspection.RemoveMarkedAreas, new { @class = "checkbox-custom" })
                                                Remove and replace marked areas that do not meet City <br /> specifications. Call for another form inspection when ready.
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FinalInspection.AsphaltWork, new { @class = "checkbox-custom" })
                                                Asphalt work needed.
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FinalInspection.Graffiti, new { @class = "checkbox-custom" })
                                                Graffiti.
                                            </div>
                                            <div class="span12">
                                                @Html.CheckBoxFor(x => x.FinalInspection.NoRightWayPermit, new { @class = "checkbox-custom" })
                                                No City Right-of-Way permit.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="span12" style="margin-left:20px;align-content:center">
                                    <br />
                                    Other : @Html.TextAreaFor(x => x.FinalInspection.OtherRepairsNotAcceptable, new { @class = "textarea", style = "width:87%;" })
                                    <br />
                                    <br />
                                </div>
                                <div style="margin-left:20px;">
                                    <br />
                                    After corrections have been made, request another final inspection online at www.portlandoregon.gov/transportation/sidewalks or call 503-823-1711.
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>
                                <div class="row reasonFont">
                                    <div class="span3">
                                        Contractor/Property Owner:
                                    </div>
                                    <div class="span9">
                                    </div>
                                </div>
                                <div class="row reasonFont">
                                    <div class="span9">
                                        Inspector : @Model.AffidavitDetails.AffidavitInfo.Inspector.FullName
                                        @Html.HiddenFor(x => x.FinalInspection.FinalFailInspectorId)
                                        @Html.HiddenFor(x => x.FinalInspection.FinalPassInspectorId)
                                    </div>

                                    <div class="span3">
                                        Date : @DateTime.Now
                                    </div>
                                </div>
                                <div class="row">
                                    @Html.Partial("~/Views/Shared/_FormFinalDescription.cshtml")
                                </div>
                                <div class="row">
                                    <div class="span12 reasonFont noticeInfo">
                                        <input type="submit" value="Save" class="btn-large" style="font-size:40px" />
                                    </div>
                                    <div class="span9">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>